Repository GaikaGroup/CI: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: restore tests in pre-push hook
  .husky/pre-push
Due: none

fix: move all failing tests to _disabled folder
  .husky/pre-push
Due: none

docs: update README.md
  README.md
Due: prettier --write

ci: update actions/upload-artifact from v3 to v4
  .github/workflows/ci.yml
Due: none

ci: disable E2E and smoke tests in CI, adjust security audit level
  .github/workflows/ci.yml
Due: none

ci: disable coverage check in CI (thresholds too strict)
  .github/workflows/ci.yml
Due: none

ci: add Prisma Client generation before build
  .github/workflows/ci.yml
Due: none

fix: apply autofix to database client
  src/lib/database/client.js
Due: eslint --fix, prettier --write

fix: make Prisma Client lazy to prevent build-time initialization
  src/lib/database/client.js
Due: eslint --fix, prettier --write

fix: use Proxy to fully defer Prisma Client initialization
  src/lib/database/client.js
Due: eslint --fix, prettier --write

docs: add Prisma best practices to steering
  .kiro/steering/database-connection-management.md
  .kiro/steering/prisma-best-practices.md
Due: prettier --write

fix: Unicode support in divergence detection and waiting phrases timing
  .eslintrc.cjs
  .kiro/specs/voice-streaming-response/design.md
  .kiro/specs/voice-streaming-response/tasks.md
  TESTING-GUIDE.md
  docs/archive/status/CLEANUP_PLAN.md
  docs/archive/status/LONG_TEXT_TTS_FIX.md
  docs/archive/status/MODEL_UPGRADE_SUMMARY.md
  docs/archive/status/README.md
  docs/archive/status/VOICE_MODE_PDF_FIX.md
  docs/bugfixes/divergence-cyrillic-support.md
  docs/development/single-dev-server.md
  package.json
  prisma/schema.prisma
  scripts/start-single-dev.sh
  src/lib/modules/chat/components/MessageList.svelte
  src/lib/modules/chat/enhancedServices.js
  src/lib/modules/chat/services.js
  src/lib/modules/chat/services/DivergenceDetector.js
  src/lib/modules/chat/voiceServices.js
  src/routes/stats/+page.svelte
  test-pdf-preview.html
  test-pdf-viewer.html
  test-text-splitting.js
  tests/integration/chat/divergence-cyrillic.test.js
  tests/unit/bugfixes/issue-cyrillic-divergence.test.js
  tests/unit/chat/DivergenceDetector.test.js
  tests/unit/chat/voiceUxPolishing.test.js
  vite.config.js
Due: eslint --fix, prettier --write

fix(ci): update CI workflow and fix test issues
  .github/workflows/ci.yml
  .kiro/steering/coding-standards.md
  .kiro/steering/verification-requirements.md
  CI_FIXES_SUMMARY.md
  package-lock.json
  src/routes/signup/+page.svelte
  tests/integration/voice/voiceModeWithPDF.test.js
  tests/unit/chat/services/PromptBuilderService.test.js
Due: eslint --fix, prettier --write

feat(graphrag): implement full pgvector integration and InMemoryStorageAdapter
  src/lib/modules/graphrag/adapters/DatabaseStorageAdapter.js
  src/lib/modules/graphrag/adapters/InMemoryStorageAdapter.js
  src/lib/modules/graphrag/utils/vectorHelpers.js
  tests/integration/graphrag/DatabaseStorageAdapter.test.js
  tests/integration/graphrag/GraphRAGService.test.js
Due: eslint --fix, prettier --write

feat(graphrag): integrate pgvector with GraphRAG system
  .kiro/specs/voice-streaming-response/tasks.md
  README.md
  docs/graphrag/ALTERNATIVES_SUMMARY.md
  docs/graphrag/COST_COMPARISON.md
  docs/graphrag/IMPLEMENTATION_COMPLETE.md
  docs/graphrag/IMPLEMENTATION_STATUS.md
  docs/graphrag/MACOS_SETUP.md
  docs/graphrag/QUICK_START_MACOS.md
  docs/graphrag/README.md
  docs/graphrag/api.md
  docs/graphrag/deployment.md
  docs/graphrag/local-embeddings.md
  docs/graphrag/troubleshooting.md
  package.json
  prisma/schema.prisma
  scripts/migrate-graphrag.js
  scripts/setup-local-embeddings.sh
  src/lib/config/graphrag.js
  src/lib/modules/courses/services/GraphRAGService.js
  src/lib/modules/graphrag/adapters/DatabaseStorageAdapter.js
  src/lib/modules/graphrag/adapters/InMemoryStorageAdapter.js
  src/lib/modules/graphrag/factories/StorageAdapterFactory.js
  src/lib/modules/graphrag/services/EmbeddingService.js
  src/lib/modules/graphrag/services/LocalEmbeddingService.js
  src/lib/modules/graphrag/services/MigrationService.js
  src/lib/modules/graphrag/utils/ErrorHandler.js
  src/lib/modules/graphrag/utils/GraphRAGLogger.js
  src/lib/modules/graphrag/utils/InputValidator.js
  src/lib/modules/graphrag/utils/RateLimiter.js
  src/routes/api/admin/graphrag/stats/+server.js
  src/routes/api/health/graphrag/+server.js
  test-streaming-api.js
  test-streaming.js
  tests/integration/graphrag/DatabaseStorageAdapter.test.js
  tests/integration/graphrag/GraphRAGService.test.js
  tests/unit/graphrag/EmbeddingService.test.js
  tests/unit/graphrag/InMemoryStorageAdapter.test.js
  tests/unit/graphrag/MigrationService.test.js
Due: eslint --fix, prettier --write

fix(tests): make semanticSearch test more resilient to timing issues
  tests/integration/graphrag/DatabaseStorageAdapter.test.js
Due: eslint --fix, prettier --write

ci: use pgvector/pgvector Docker image for PostgreSQL in CI
  .github/workflows/ci.yml
Due: none

chore: add migration for updating embedding dimensions to 384
  prisma/migrations/20251114021500_update_embedding_dimensions/migration.sql
Due: none

fix(migrations): use vector(384) from the start in initial migration
  prisma/migrations/20251114021500_update_embedding_dimensions/migration.sql
Due: none

ci: enable pgvector extension before running migrations
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  prettier --write: (any of: *.{js,ts,svelte}) or (any of: *.{json,md,css})
